<nav class="navigation" role="navigation">
  {% assign default_paths = site.pages | map: "path" %}
  {% assign page_paths = site.navigation_pages | default: default_paths %}
  <a class="navigation__branding" href="{{ "/" | relative_url }}">
    <span class="navigation__logo"><img src="{{ "/assets/images/large-logo.png" | relative_url }}" class="navigation__logo-img" alt="{{ site.title | escape }}"></span>
  </a>
  <div class="navigation__links">
    {% for item in site.menus.main %}
    <div class="navigation__section">
      <span>{{ item.title }}</span>
      {% if item.children %}
      <div class="navigation__menu">
        {% for item in item.children %}
        <div class="navigation__menu__item">
          <a href="{{ item.url }}">{{ item.title }}</a>
        </div>
        {% endfor %}
      </div>
      {% endif %}
    </div>
    {% endfor %}
  </div>
</nav>
