<nav class="navigation navigation__container" role="navigation">
  <div class="navigation__container__inner navigation__container__global">
    <a class="navigation__logo" href="{{ "/" | relative_url }}">
      <img src="{{ "/assets/images/large-logo.png" | relative_url }}" class="navigation__logo-img"
        alt="{{ site.title | escape }}">
        <span>Documentation</span>
    </a>
    <button class="btn btn__search search__toggle"><svg class="ais-SearchBox-submitIcon" width="16" height="16" viewBox="0 0 40 40" aria-hidden="true"><path d="M26.804 29.01c-2.832 2.34-6.465 3.746-10.426 3.746C7.333 32.756 0 25.424 0 16.378 0 7.333 7.333 0 16.378 0c9.046 0 16.378 7.333 16.378 16.378 0 3.96-1.406 7.594-3.746 10.426l10.534 10.534c.607.607.61 1.59-.004 2.202-.61.61-1.597.61-2.202.004L26.804 29.01zm-10.426.627c7.323 0 13.26-5.936 13.26-13.26 0-7.32-5.937-13.257-13.26-13.257C9.056 3.12 3.12 9.056 3.12 16.378c0 7.323 5.936 13.26 13.258 13.26z"></path></svg> Search</button>
    
  </div>
  <div class="navigation__container__inner navigation__container__site">
    <div class="navigation__menu">
      {% for item in site.menus.main %}
        <a class="navigation__menu__item{% if page.url == '/' %}{% if item.url == '/' %} navigation__menu__item__active{% endif %}{% elsif item.url contains page.url %} navigation__menu__item__active{% endif %}" href="{{ item.url }}">{{ item.title }}</a>
      {% endfor %}
    </div>
    <div class="navigation__alt">
      <a class="navigation__menu__item" href="https://www.canvasmedical.com/" target="_blank">Canvas Medical Website</a>
    </div>
  </div>
</nav>


{% include search-container.html %}
