<nav class="navigation navigation__container" role="navigation">
  <div class="navigation__container__inner navigation__container__global">
    <a class="navigation__logo" href="{{ "/" | relative_url }}">
      <img src="{{ "/assets/images/large-logo.png" | relative_url }}" class="navigation__logo-img"
        alt="{{ site.title | escape }}">
        <span>Documentation</span>
    </a>
    <div class="navigation__search">
      <input placeholder="Search" />
    </div>
  </div>
  <div class="navigation__container__inner navigation__container__site">
    <div class="navigation__menu">
      {% for item in site.menus.main %}
        <a class="navigation__menu__item{% if page.url == '/' %}{% if item.url == '/' %} navigation__menu__item__active{% endif %}{% elsif item.url contains page.url %} navigation__menu__item__active{% endif %}" href="{{ item.url }}">{{ item.title }}</a>
      {% endfor %}
    </div>
    <div class="navigation__alt">
      <a class="navigation__menu__item" href="https://www.canvasmedical.com/" target="_blank">Canvas Medical Website</a>
    </div>
  </div>
</nav>
