{% assign education_links = "" %}
{% for item in site.educations %}
  {% for education_url in item.education_for %}
    {% if education_url == page.url %}
      {% capture link %}
    <p>
        {% if item.url %}
          <a href="{{ item.url }}">{{ item.title }}</a>
        {% else %}
          <strong>{{ item.title }}</strong>
        {% endif %}
        <br />
      {% endcapture %}
    </p>
      {% assign education_links = education_links | append: link %}
    {% endif %}
  {% endfor %}
{% endfor %}

{% if education_links != "" %}
  <div class="panel panel__container">
    <h5>{{ site.data.globals.panels.educations }}</h5>
    {{ education_links }}
  </div>
{% endif %}
