<div class="panel panel__container">
    <h5>{{ site.data.globals.panels.anchorlist }}</h5>
    Use js to loop through and add headings to list with anchor link.<br/>
    Example output:
    <ul>
        <li>Heading Level 1
            <ul>
                <li>Heading Level 2
                    <ul>
                        <li>Heading Level 3</li>
                        <li>Heading Level 3</li>
                        <li>Heading Level 3</li>
                    </ul>
                </li>
                <li>Heading Level 2
                    <ul>
                        <li>Heading Level 3</li>
                        <li>Heading Level 3</li>
                        <li>Heading Level 3</li>
                    </ul>
                </li>
            </ul>
        </li>
        <li>Heading Level 1
            <ul>
                <li>Heading Level 2
                    <ul>
                        <li>Heading Level 3</li>
                        <li>Heading Level 3</li>
                        <li>Heading Level 3</li>
                    </ul>
                </li>
                <li>Heading Level 2
                    <ul>
                        <li>Heading Level 3</li>
                        <li>Heading Level 3</li>
                        <li>Heading Level 3</li>
                    </ul>
                </li>
            </ul>
        </li>
        <li>Heading Level 1
            <ul>
                <li>Heading Level 2
                    <ul>
                        <li>Heading Level 3</li>
                        <li>Heading Level 3</li>
                        <li>Heading Level 3</li>
                    </ul>
                </li>
                <li>Heading Level 2
                    <ul>
                        <li>Heading Level 3</li>
                        <li>Heading Level 3</li>
                        <li>Heading Level 3</li>
                    </ul>
                </li>
            </ul>
        </li>
    </ul>
</div>