{% tabs read-request %}
  
    {% tab read-request curl %}
```shell
curl --request GET \
     --url 'https://fumage-example.canvasmedical.com/{{ include.resource_type }}/<id>' \
     --header 'Authorization: Bearer <token>' \
     --header 'accept: application/json'
```
    {% endtab %}

    {% tab read-request python %}
```python
import requests

url = "https://fumage-example.canvasmedical.com/{{ include.resource_type }}/<id>"

headers = {
    "accept": "application/json",
    "Authorization": "Bearer <token>"
}

response = requests.get(url, headers=headers)

print(response.text)
```
    {% endtab %}
  
  {% endtabs %}
