{% tabs search-request %}
  {% tab search-request curl %}
```shell
curl --request GET \
     --url 'https://fumage-example.canvasmedical.com/{{ include.resource_type }}?{{ include.search_string }}' \
     --header 'Authorization: Bearer <token>' \
     --header 'accept: application/json'
```
  {% endtab %}
  {% tab search-request python %}
```python
import requests

url = "https://fumage-example.canvasmedical.com/{{ include.resource_type }}?{{ include.search_string }}"

headers = {
    "accept": "application/json",
    "Authorization": "Bearer <token>"
}

response = requests.get(url, headers=headers)

print(response.text)
```
  {% endtab %}
{% endtabs %}