<script>
     const toolbarActions = (node) => {
    const toolBars = node.querySelectorAll('div.rogue__toolbar');
    toolBars.forEach((item) => {
        if (item?.closest('li.active')) {
            const codeElement = item.nextElementSibling.querySelector('code');
            item.querySelector('.rogue__copy').addEventListener('click', () => {
                const textToCopy = codeElement.textContent;
                navigator.clipboard.writeText(textToCopy).catch((error) => {
                    console.error('Unable to copy text to clipboard:', error);
                });
            })
            item.querySelector('.rogue__expand').addEventListener('click', () => {
                const content = codeElement.innerHTML;

                // Create the modal window
                const modal = document.createElement('div');
                modal.classList.add('rogue__modal');

                // Create the modal content
                const modalContent = document.createElement('div');
                modalContent.classList.add('rogue__modal__content');

                // Create the wrapper div.highlighter-rouge
                const highlighterRouge = document.createElement('div');
                highlighterRouge.classList.add('highlighter-rouge');

                // Create the inner div.highlight
                const innerHighlight = document.createElement('div');
                innerHighlight.classList.add('highlight');

                // Create the pre.highlight
                const preHighlight = document.createElement('pre');
                preHighlight.classList.add('highlight');
                preHighlight.innerHTML = content;

                // Append the pre.highlight to the inner div.highlight
                innerHighlight.appendChild(preHighlight);

                // Append the inner div.highlight to the wrapper div.highlighter-rouge
                highlighterRouge.appendChild(innerHighlight);

                // Append the wrapper div to the modal content
                modalContent.appendChild(highlighterRouge);

                // Create the close button
                const closeButton = document.createElement('span');
                closeButton.classList.add('rogue__modal__close');
                closeButton.innerHTML = '&times;'; // Close symbol

                // Add click event listener to close the modal
                closeButton.addEventListener('click', () => {
                    document.body.removeChild(modal);
                });

                // Append the close button to the modal content
                modalContent.appendChild(closeButton);

                // Append the modal content to the modal window
                modal.appendChild(modalContent);

                // Append the modal window to the document body
                document.body.appendChild(modal);
            })
        }
    });
    }
</script>
<div class="apidoc">
    <div class="apidoc__gridrow">
        <div class="apidoc__gridcol">
            <div class="apidoc__info">
                {% if block.name %}
                <h3 class="apidoc__info__summary">{{ block.summary }}</h3>
                {% endif %}
                {% if block.description %}
                <div class="apidoc__info__description">
                    {{ block.description | markdownify }}
                </div>
                {% endif %}
            </div>
            <div class="apidoc__guides">
                {% for guide in site.guides %}
                {% for item in guide.guide_for %}
                {% if item == page.url %}
                {% capture related_guides %}<li><a href="{{ guide.url }}">{{ guide.title }}</a></li>{% endcapture %}
                {% endif %}
                {% endfor %}
                {% endfor %}
                {% if related_guides.size > 1 %}
                <div><strong>Related guides:</strong></div>
                <ul>
                    {{ related_guides }}
                </ul>
                {% endif %}
            </div>
        </div>
        <div class="apidoc__gridcol">
            {% if block.endpoints %}
            <div class="apidoc__endpoint">
                <h3>Endpoints</h3>
                <div class="apidoc__endpoint__list">
                    {% for endpoint in block.endpoints %}
                    {% include blocks/block-apidoc-endpoints.html %}
                    <a href="#{{ endpoint }}" class="apidoc__endpoint__list__item">
                        <span class="apidoc__endpoint__method apidoc__endpoint__method__{{ method }}">{{ method
                            }}</span>
                        <div class="apidoc__endpoint__url">/{{ block.name }}{{ url }}</div>
                    </a>
                    {% endfor %}
                </div>
            </div>
            {% endif %}
        </div>
    </div>
    {% if block.endpoints %}
    {% assign min = 10001 %}
    {% assign max = 99999 %}
    {% assign diff = max | minus: min %}
    {% for endpoint in block.endpoints %}
    {% include blocks/block-apidoc-endpoints.html %}
    <div class="apidoc__gridrow">
        <div class="apidoc__gridcol">
            <div id="{{ endpoint }}" class="apidoc__info"><span class="apidoc__info__method apidoc__info__method__{{ method }}">{{ method }}</span><div class="apidoc__info__url">/{{ block.name }}{{ url }}</div><h4 class="apidoc__info__summary">{{ block.name }} {{ endpoint }}</h4><div class="apidoc__info__description">{{ block[endpoint].description | markdownify }}</div></div>
        </div>
        <div class="apidoc__gridcol">
        </div>
    </div>
    {% if endpoint == 'read' %}
    <div class="apidoc__gridrow">
        <div class="apidoc__gridcol">
            <h3>Path Parameters</h3>
            <div class="apidoc__object">
                <div class="apidoc__object__name">
                    id
                    <span class="apidoc__object__required">required</span>
                </div>
                <div class="apidoc__object__type">
                    string
                </div>
                <div class="apidoc__object__description">
                    The unique identifier for the {{ block.name }}
                    <br><br>
                    {{ block.read.additional_path_parameter_description | markdownify }}
                </div>

            </div>
        </div>
        <div class="apidoc__gridcol">
            {% if block.read.example_request %}
            {% assign randomId = "now" | date: "%N" | modulo: diff | plus: min %}
            {% assign div = "request-" | prepend: "#" | append: randomId %}
            {% assign selector = block.read.example_request | prepend: "#" %}
            <div id="{{ div | remove_first: '#' }}"></div>
            {% include blocks/block-apidoc-roguetoolbar-js.html div=div selector=selector %}
            {% endif %}
        </div>
    </div>
    <div class="apidoc__gridrow">
        <div class="apidoc__gridcol">
            {% if block.attributes %}
            <h3>Response Payload Attributes</h3>
            {% include blocks/block-apidoc-attributes.html context='read' %}
            {% endif %}
        </div>
    </div>
    {% if block.read.responses %}
    <div class="apidoc__gridrow">
        <div class="apidoc__gridcol">
            <h3>Responses</h3>
            {% for response in block.read.responses %}
            {% include blocks/block-apidoc-responses-ok.html %}
            {% endfor %}
            <h3>Errors</h3>
            {% for response in block.read.responses %}
            {% include blocks/block-apidoc-responses-errors.html %}
            {% endfor %}
        </div>
        <div class="apidoc__gridcol">
            {% if block.read.example_response %}
            {% assign randomId = "now" | date: "%N" | modulo: diff | plus: min %}
            {% assign div = "response-" | prepend: "#" | append: randomId %}
            {% assign selector = block.read.example_response | prepend: "#" %}
            <div id="{{ div | remove_first: '#' }}"></div>
            {% include blocks/block-apidoc-roguetoolbar-js.html div=div selector=selector %}
            {% endif %}
        </div>
    </div>
    {% endif %}
    {% endif %}
    {% if endpoint == 'search' %}
    <div class="apidoc__gridrow">
        <div class="apidoc__gridcol">
            {% if block.search_parameters %}
                <h3>Query Parameters</h3>
                <div class="apidoc__object">
                    <b>{{ block.search_requirements_description }}</b>
                </div>
                {% for parameter in block.search_parameters %}
                <div class="apidoc__object">
                    <div class="apidoc__object__name">
                        {{ parameter.name }}
                        {% if parameter.required %}<span class="apidoc__object__required">required</span>{% endif %}
                    </div>
                    <div class="apidoc__object__type">
                        {{ parameter.type }}
                    </div>
                    <div class="apidoc__object__description">
                        {{ parameter.description | markdownify }}
                    </div>
                    <div class="apidoc__object__enum_options">
                        {% if parameter.search_options %}
                            <b>Search Values Supported:</b>
                            <ul>
                                {% for option in parameter.search_options %}
                                    <li>{{ option.value }}</li>
                                {% endfor %}
                            </ul>
                        {% endif %}
                    </div>
                </div>
                {% endfor %}
            {% endif %}
        </div>
        <div class="apidoc__gridcol">
            {% if block.search.example_request %}
            {% assign randomId = "now" | date: "%N" | modulo: diff | plus: min %}
            {% assign div = "request-" | prepend: "#" | append: randomId %}
            {% assign selector = block.search.example_request | prepend: "#" %}
            <div id="{{ div | remove_first: '#' }}"></div>
            {% include blocks/block-apidoc-roguetoolbar-js.html div=div selector=selector %}
            {% endif %}
        </div>
    </div>
    <div class="apidoc__gridrow">
        <div class="apidoc__gridcol">
            <h3>Response Payload Attributes</h3>
                {% include /blocks/block-apidoc-attributes-datasource.html datasource=site.data.api-attributes.search_attributes %}
        </div>
    </div>
    <div class="apidoc__gridrow">
        <div class="apidoc__gridcol">
            {% if block.attributes %}
            <h3>Attributes</h3>
            {% include blocks/block-apidoc-attributes.html context='search' %}
            {% endif %}
        </div>
    </div>
    {% if block.search.responses %}
    <div class="apidoc__gridrow">
        <div class="apidoc__gridcol">
            <h3>Responses</h3>
            {% for response in block.search.responses %}
            {% include blocks/block-apidoc-responses-ok.html %}
            {% endfor %}
            <h3>Errors</h3>
            {% for response in block.search.responses %}
            {% include blocks/block-apidoc-responses-errors.html %}
            {% endfor %}
        </div>
        <div class="apidoc__gridcol">
            {% if block.search.example_response %}
            {% assign randomId = "now" | date: "%N" | modulo: diff | plus: min %}
            {% assign div = "response-" | prepend: "#" | append: randomId %}
            {% assign selector = block.search.example_response | prepend: "#" %}
            <div id="{{ div | remove_first: '#' }}"></div>
            {% include blocks/block-apidoc-roguetoolbar-js.html div=div selector=selector %}
            {% endif %}
        </div>
    </div>
    {% endif %}
    {% endif %}
    {% if endpoint == 'create' %}
    <div class="apidoc__gridrow">
        <div class="apidoc__gridcol">
            {% if block.attributes %}
            <h3>Attributes</h3>
            {% include blocks/block-apidoc-attributes.html context='create' %}
            {% endif %}
        </div>
        <div class="apidoc__gridcol">
            {% if block.create.example_request %}
            {% assign randomId = "now" | date: "%N" | modulo: diff | plus: min %}
            {% assign div = "request-" | prepend: "#" | append: randomId %}
            {% assign selector = block.create.example_request | prepend: "#" %}
            <div id="{{ div | remove_first: '#' }}"></div>
            {% include blocks/block-apidoc-roguetoolbar-js.html div=div selector=selector %}
            {% endif %}
        </div>
    </div>
    {% if block.create.responses %}
    <div class="apidoc__gridrow">
        <div class="apidoc__gridcol">
            <h3>Responses</h3>
            {% for response in block.create.responses %}
            {% include blocks/block-apidoc-responses-created.html %}
            {% endfor %}
            <h3>Errors</h3>
            {% for response in block.create.responses %}
            {% include blocks/block-apidoc-responses-errors.html %}
            {% endfor %}
            {{ block.create.validation_errors | markdownify }}
        </div>
        <div class="apidoc__gridcol">
            {% if block.create.example_response %}
            {% assign randomId = "now" | date: "%N" | modulo: diff | plus: min %}
            {% assign div = "response-" | prepend: "#" | append: randomId %}
            {% assign selector = block.create.example_response | prepend: "#" %}
            <div id="{{ div | remove_first: '#' }}"></div>
            {% include blocks/block-apidoc-roguetoolbar-js.html div=div selector=selector %}
            {% endif %}
        </div>
    </div>
    {% endif %}
    {% endif %}
    {% if endpoint == 'update' %}
    <div class="apidoc__gridrow">
        <div class="apidoc__gridcol">
            {% if block.attributes %}
            <h3>Attributes</h3>
            {% include blocks/block-apidoc-attributes.html context='update' %}
            {% endif %}
        </div>
        <div class="apidoc__gridcol">
            {% if block.update.example_request %}
            {% assign randomId = "now" | date: "%N" | modulo: diff | plus: min %}
            {% assign div = "request-" | prepend: "#" | append: randomId %}
            {% assign selector = block.update.example_request | prepend: "#" %}
            <div id="{{ div | remove_first: '#' }}"></div>
            {% include blocks/block-apidoc-roguetoolbar-js.html div=div selector=selector %}
            {% endif %}
        </div>
    </div>
    {% if block.update.responses %}
    <div class="apidoc__gridrow">
        <div class="apidoc__gridcol">
            <h3>Responses</h3>
            {% for response in block.update.responses %}
            {% include blocks/block-apidoc-responses-updated.html %}
            {% endfor %}
            <h3>Errors</h3>
            {% for response in block.update.responses %}
            {% include blocks/block-apidoc-responses-errors.html %}
            {% endfor %}
        </div>
        <div class="apidoc__gridcol">
            {% if block.update.example_response %}
            {% assign randomId = "now" | date: "%N" | modulo: diff | plus: min %}
            {% assign div = "response-" | prepend: "#" | append: randomId %}
            {% assign selector = block.update.example_response | prepend: "#" %}
            <div id="{{ div | remove_first: '#' }}"></div>
            {% include blocks/block-apidoc-roguetoolbar-js.html div=div selector=selector %}
            {% endif %}
        </div>
        {% endif %}
    </div>
    {% endif %}
    {% endfor %}
    {% endif %}
</div>