{% if attribute.exclude_in contains include.context %}
{% else %}
    <div class="apidoc__object">
        <div class="apidoc__object__name">
            {{ attribute.name }}
        </div>
        <div class="apidoc__object__type">
            {{ attribute.type }} {% if attribute.required_in contains include.context %}<span class="apidoc__object__required">required</span>{% endif
            %}
        </div>
        {% include blocks/block-apidoc-attributes-context.html context=include.context %}
        <div class="apidoc__object__enum_options">
            {% if attribute.enum_options %}
                <b>Value Options Supported:</b>
                <ul>
                    {% for option in attribute.enum_options %}
                        {% if option.exclude_in contains include.context %}
                        {% else %}
                            <li>{{ option.value }} {% if option.description %}({{ option.description }}){% endif %}</li>
                        {% endif %}
                    {% endfor %}
                </ul>
            {% endif %}
        </div>
        {% if attribute.attributes %}
            {% include blocks/block-apidoc-child-attributes.html context=include.context attribute=attribute.attributes%}
        {% endif %}
    </div>
{% endif %}
