{% if endpoint == 'read' %}
    {% assign method = 'get' %}
    {% assign url = '/{id}' %}
{% endif %}
{% if endpoint == 'search' %}
    {% assign method = 'get' %}
    {% assign url = '' %}
{% endif %}
{% if endpoint == 'create' %}
    {% assign method = 'post' %}
    {% assign url = '' %}
{% endif %}
{% if endpoint == 'update' %}
    {% assign method = 'put' %}
    {% assign url = '/{id}' %}
{% endif %}
{% if endpoint contains 'operation' %}
    {% assign method = endpoint.method %}
    {% assign url = endpoint.url %}
{% endif %}
