{% if response == 200 %}
<div class="apidoc__object">
    <div class="apidoc__object__name">
        200 OK
    </div>
    <div class="apidoc__object__description">
        Request was successful.
    </div>
</div>
{% endif %}
{% if response == 201 %}
<div class="apidoc__object">
    <div class="apidoc__object__name">
        201 Created
    </div>
    <div class="apidoc__object__description">
        Request was successful and a new resource was created.
    </div>
</div>
{% endif %}
{% if response == 307 %}
<div class="apidoc__object">
    <div class="apidoc__object__name">
        307 Temporary Redirect
    </div>
    <div class="apidoc__object__description">
        Request was successfully temporary redirected.
    </div>
</div>
{% endif %}