<div class="apiobjects">
<div class="apiobjects__info">
    {% if block.method %}<span class="apiobjects__info__method">{{ block.method }}</span> <div class="apiobjects__info__url">{{ block.url }}</div>{% endif %}
    {% if block.summary%}<h3 class="apiobjects__info__summary">{{ block.summary }}</h3>{% endif %}
    {% if block.description %}<div class="apiobjects__info__description">
        {{ block.description }}
    </div>{% endif %}
</div>
{% if block.parameters %}
    <h3>Parameters</h3>
    {% for parameters in block.parameters %}
    <div class="apiobjects__object">
        <div class="apiobjects__object__name">
            {{ parameters.name }}
            {% if parameters.required %}<span class="apiobjects__object__required">required</span>{% endif %}
        </div>
            <div class="apiobjects__object__type">
                {{ parameters.type }}
            </div>
        <div class="apiobjects__object__description">
            {{ parameters.description }}
        </div>
    </div>
    {% endfor %}
{% endif %}
{% if block.responses %}
    <h3>Responses</h3>
    {% for response in block.responses %}
        {% if response.response < 299 %}
    <div class="apiobjects__object">
        <div class="apiobjects__object__name">
            {{ response.response }}
        </div>
        <div class="apiobjects__object__description">
            {{ response.description }}
        </div>
        {% endif %}
    </div>
    {% endfor %}
    <h3>Errors</h3>
    {% for response in block.responses %}
    {% if response.response > 299 %}
     <div class="apiobjects__object">
        <div class="apiobjects__object__name">
            {{ response.response }}
        </div>
        <div class="apiobjects__object__description">
            {{ response.description }}
        </div>
        {% endif %}
        </div>
        {% endfor %}
{% endif %}
{% if block.attributes %}
    <h3>Attributes</h3>
    {% for attributes in block.attributes %}
    <div class="apiobjects__object">
        <div class="apiobjects__object__name">
            {{ attributes.name }}
        </div>
        <div class="apiobjects__object__type">
            {{ attributes.type }}
        </div>
        <div class="apiobjects__object__description">
            {{ attributes.description }}
        </div>
        {% if attributes.attributes %}
        <div class="apiobjects__object__children">
            {% for attributes in block.attributes %}
            <div class="apiobjects__object">
                <div class="apiobjects__object__name">
                    {{ attributes.name }}
                </div>
                <div class="apiobjects__object__type">
                    {{ attributes.type }}
                </div>
                <div class="apiobjects__object__description">
                    {{ attributes.description }}
                </div>
            </div>
            {% endfor %}
            </div>
            {% endif %}
        </div>
        {% endfor %}
{% endif %}
{% if block.example_request %}
<div class="apiobjects__example">
    <h3>Example Request</h3>
    {{ block.example_request.example }}
</div>
{% endif %}
{% if block.example_response %}
<div class="apiobjects__example">
    <h3>Example Response</h3>
    {{ block.example_response.example }}
</div>
{% endif %}
</div>

