{% if include.context == 'overview' %}
{% if attribute.description %}
<div class="apidoc__object__description">
    {{ attribute.description | markdownify }}
</div>
{% endif %}
{% endif %}

{% if include.context == 'update' %}
{% if attribute.update_description %}
<div class="apidoc__object__description">
    {{ attribute.update_description | markdownify }}
</div>
{% elsif attribute.description %}
<div class="apidoc__object__description">
    {{ attribute.description | markdownify }}
</div>
{% endif %}
{% endif %}

{% if include.context == 'create' %}
{% if attribute.create_description %}
<div class="apidoc__object__description">
    {{ attribute.create_description | markdownify }}
</div>
{% elsif attribute.description %}
<div class="apidoc__object__description">
    {{ attribute.description | markdownify }}
</div>
{% endif %}
{% endif %}