<script>

   
window.addEventListener('DOMContentLoaded', () => {
    const codeSource = document.querySelector('{{ include.selector }}');
    const exampleCode = codeSource.cloneNode(true);
    exampleCode.id = '';
    codeSource.classList.add('apidoc__hidden');
    const randomId = document.querySelector('{{ include.div }}');
    randomId.appendChild(exampleCode);
    toolbarActions(randomId);



    // Observer the toolbars for tab change
    // Select the node that will be observed for mutations
    const targetNode = document.querySelectorAll("ul.tab li");

    // Options for the observer (which mutations to observe)
    const config = { attributes: true, characterData: true, childList: false, subtree: false };

    // Callback function to execute when mutations are observed
    const callback = (mutationList, observer) => {
        const active = mutationList.find(item => item.target.classList.contains("active"));
        toolbarActions(active.target.parentNode.parentNode.parentNode);
    };

    // Create an observer instance linked to the callback function
    const observer = new MutationObserver(callback);

    // Start observing the target node for configured mutations
    for (const element of targetNode) {
        observer.observe(element, config);
    }
});
</script>