.anchorlist {
  &__menu {
    padding-left: 0;
    list-style-type: none;
    border-left: 1px solid $babyblue;

    > .anchorlist__item > a {
      padding-left: $container-padding;
      margin-bottom: 10px; /* Add space between line items */
    }
  }
  &__submenu {
    padding-left: 0;
    list-style-type: none;

    > .anchorlist__item > a {
      padding-left: $container-padding + $container-padding;
      margin-bottom: 12px; /* Add space between line items */
    }
    > .anchorlist__item .anchorlist__item a {
      padding-left: $container-padding + $container-padding + $container-padding;
      margin-bottom: 10px; /* Add space between line items */
    }
  }
  &__item {
    line-height: 1.25;
    font-size: 1.2rem;

    &__active {
      border-left: 2px solid $babyblue;
      color: $active-color;
    }
    > a {
      display: inline-block;
    }
  }
}
