.anchorlist {
  &__menu {
    padding-left: 0;
    list-style-type: none;
  }
  &__submenu {
    padding-left: $container-padding;
    list-style-type: none;
  }
  &__item {
    line-height: 2;
    border-left: 1px solid $babyblue;
    &__active {
      border-left: 2px solid $babyblue;
      color: $active-color;
    }
    > a {
      display: inline-block;
      padding-left: $container-padding;
    }
  }
}