.article {
  font-family: Verdana, sans-serif;
  font-size: 18px;
  line-height: 1.5;

  &__container {
    width: 100%;
    &__inner {
      padding-left: $container-padding;
      padding-right: $container-padding;
    }
  }

  &__meta {
    font-size: $font-xs;
  }

  &__title {
    font-size: $font-lg;
  }

  &__heading {
    >.article__anchor {
      display: none;
    }

    &:hover>.article__anchor {
      display: inline-block;
    }
  }

  &__anchor {
    font-size: 0.5em;
    padding-bottom: 0.333em;
    vertical-align: middle;
  }
}