// button styles, see style guide
.btn {
    &__search {
        background: $white;
        font-size: 0.9rem;
        padding: 8px 80px 8px 20px;
        color: $text-color;
        border-radius: 6px;
        border: 0px;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 16px;
        cursor: pointer;
        @media (max-width: $breakpoint-md) {
            padding: 8px 40px 8px 20px;
            width: 60%;
        }
        svg {
            fill: $text-color;
            width: 14px;
        }
    }
}
