// button styles, see style guide
.btn {
    &__search {
        background: $mediumblue;
        font-size: 0.9rem;
        padding: 8px 80px 8px 20px;
        color: rgba(255, 255, 255, 0.7);
        border-radius: 6px;
        border: 0px;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 16px;
        cursor: pointer;
        @media (max-width: $breakpoint-md) {
            padding: 8px 40px 8px 40px;
        }
        svg {
            fill: $white;
            width: 14px;
        }
        &:hover {
            background: $blue;
        }
    }
}