body {
  font-family: $primary-font-family;
  font-size: $font-sm;
  color: $text-color;
}

main {
  height: var(--body-height);
  overflow: hidden;
}

a {
  color: $link-color;
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}

h1 {
  display: block;
  // font-family: "Financier Display"
  font-size: $font-xl;
  margin-top: 1rem;
  margin-bottom: 1rem;
  font-weight: 400;
}

h2 {
  display: block;
  font-size: $font-lg;
  margin-top: 1rem;
  margin-bottom: 1rem;
  font-weight: 400;
}

h3 {
  display: block;
  font-size: $font-md;
  margin-top: 1rem;
  margin-bottom: 1rem;
  font-weight: 400;
}

h4 {
  display: block;
  font-size: $font-md;
  margin-top: 1rem;
  margin-bottom: 1rem;
  font-weight: 400;
}

h5 {
  display: block;
  font-size: $font-md;
  margin-top: 1rem;
  margin-bottom: 1rem;
  font-weight: 400;
}

h6 {
  display: block;
  font-size: $font-md;
  margin-top: 1rem;
  margin-bottom: 1rem;
  font-weight: 400;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 1rem;
  th {
    background-color: $lightgrey;
    font-weight: 600;
  }
  th, td {
    text-align: left;
    vertical-align: top;
    min-width: 5vw;
    padding: 0.5em;
    margin: 0.25em;
    border-bottom: 1px solid rgba($black,0.5);
    border-right: 1px solid rgba($black, 0.5);
  }
  th:last-of-type, td:last-of-type {
    border-right: 0px;
  }
  tr:last-of-type > td {
    border-bottom: 0px;
  }
}