.filterdate {
  &__link {
    cursor: pointer;
    color: $link-color;
    display: block;
  &:hover {
    text-decoration: underline;
  }
    &__active {
      color: $active-color;
    }
  }
  &__item {
    transition: all 0.2s;
    height: auto;
    opacity: 1;
    &__hidden {
      height: 0 !important;
      margin: 0 !important;
      padding: 0 !important;
      opacity: 0 !important;
      overflow: hidden !important;
      transition: all 0.2s;
    }
  }

}