.footer {
  &__container {
    height: var(--footer-height);
    width: 100%;
    display: flex;
    align-items: center;
    border-top: 1px solid $accent-color;
    color: $link-color;
    
    &__inner {
      padding-left: $container-padding;
      padding-right: $container-padding;
    }
  }
}