.navigation {

  &__container {

    width: 100%;
    padding-top: 1rem;
    padding-bottom: 1rem;
    border-bottom: 1px solid $accent-color;

    &__inner {
      padding-left: $container-padding;
      padding-right: $container-padding;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
    }

  }

  &__logo {
    margin-right: 10px;
    img {
      height: $font-lg;
      width: auto;
    }
  }
  
  &__menu {
    display: flex;
    gap: 1em;
  }

  &__link {
    margin-left: 30px;
    font-size: $font-xs;
  }

  &__search { 
    display: flex;
    align-items: flex-end;
    justify-content: center;
    
    svg {
      height: 1rem;
      width: auto;
      fill: $primary-color;
    }
  }
}
