.navigation {

  &__container {

    width: 100%;
    height: var(--header-height);

    &__inner {
      padding-left: $container-padding;
      padding-right: $container-padding;
      display: flex;
      flex-direction: row;
      align-items: center;
    }
    &__global {
      padding-top: 12px;
      padding-bottom: 12px;
      background-color: $panel-color;
      overflow: hidden;
      white-space: nowrap;
      .navigation__menu__item:hover {
        color: $navyblue;
      }
    }
    &__site {
      background-color: $panel-color;
      border-bottom: 1px solid $babyblue;
      @media (max-width: $breakpoint-lg) {
        flex-direction: column;
        padding-bottom: 14px;
        align-items: center;
      }
    }

  }

  &__logo {
    margin-right: 10px;
    display: flex;
    align-content: center;
    align-items: center;
    img {
      height: 20px;
      width: auto;
      margin-bottom: 4px;
    }
    span {
      font-size: 1.25rem;
      font-weight: 300;
      color: $navyblue;
      padding-left: 0.5em;
    }
    &:hover {
      text-decoration: none;
    }
  }
  
  &__menu {
    display: flex;
    gap: 1em;
    &__item {
      font-size: 0.875rem;
      padding-top: 1em;
      padding-bottom: 1em;
      border-bottom: 2px solid transparent;
      &__active {
        text-decoration: none;
        border-bottom-color: $babyblue;
      }
    }
  }

  &__alt {
    margin-left: auto;
  }

  &__search { 
    width: 480px;
    max-width: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    position: relative;
    padding: 2px;
    margin-left: 0.25rem;

    input {
      padding: 3px 0 3px 8px;
      width: 100%;
      border: 1px solid transparent;
      outline: 1px solid transparent;
      &::placeholder {
        font-size: 0.75em;
        color: $navyblue;
      }
      &:focus-visible {
        outline-color: $border-color;
      }
    }
  }
}
