// TODO: These layouts will be split into own stylesheets with simplified class names

.pagelayout {
  // Layout with ToC and side panels
  &__docpanels {
    display: grid;
    grid-template-columns: min-content minmax(0px, max-content);
    word-wrap: break-word;
    overflow-x: auto;
    width: 100%;
    @media (min-width: $breakpoint-xl) {
      grid-template-columns: 280px 6fr 280px;
    }

    &__sidenav {
      max-height: var(--body-height);
      overflow-y: auto;
      background-color: $panel-color;
      padding: 1em 1em 2em 1em;
      width: 240px;
      margin-right: 1.5rem;
      position: relative;
      &__toggle {
        @media (min-width: $breakpoint-lg) {
          display: none;
        }
        position: sticky;
        top: 0.5rem;
        margin-left: auto;
        cursor: pointer;
        width: 1rem;
        height: 1rem;
        svg {
          fill: $navyblue;
        }
      }
      &__collapsed {
        width: 1rem;
        overflow: hidden;
        nav {
          visibility: hidden;
        }
      }
    }

    &__sidepanels {
      max-height: var(--body-height);
      overflow-y: auto;
      display: none;
      @media (min-width: $breakpoint-xl) {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        background: $panel-color;
      }
    }

    &__content {
      max-height: var(--body-height);
      overflow-y: auto;
    }

  }

  // Layout for Release Notes

  &__index {
    &__container {
      width: 100%;
    }
    &__content {
      display: grid;
      grid-template-columns: 1fr 4fr;
    }
    &__sidenav {
      max-height: var(--body-height);
      overflow-y: auto;
      background-color: $panel-color;
      padding: 1em 1em 2em 1em;
      margin-right: 1.5rem;
    }
    &__items {
      max-height: var(--body-height);
      overflow-y: auto;
    }

    &__header {
      margin-bottom: 1em;
      padding-bottom: 1em;
      border-bottom: 1px solid $border-color;
    }
    &__item {
      margin-bottom: 1em;
      padding-bottom: 1em;
      border-bottom: 1px solid $border-color;
    }
    &__title {
      font-size: $font-md;
    }
    &__meta {
      font-size: $font-xs;
    }
    &__excerpt {
      font-size: $font-sm;
    }
    &__link {
      font-size: $font-xs;
      text-decoration: underline;
    }
  }

  // General layout

  &__page {
    &__container {
      width: 100%;
      &__inner {
        padding-left: $container-padding;
        padding-right: $container-padding;
        max-height: var(--body-height);
        overflow-y: auto;
      }
    }
  }

}
