.sidenav {
  max-height: var(--body-height);
  overflow-y: auto;
  border-right: 1px solid $babyblue;
  padding-left: $container-padding;
  padding-right: $container-padding;
  position: relative;

  &__toggle {
    display: none;    
    @media (max-width: $breakpoint-sm) {
      display: block;
      position: absolute;
      left: 5vw;
      top: 60px;
    }

    position: sticky;
    top: 0.5rem;
    margin-left: auto;
    cursor: pointer;
    width: 1rem;
    height: 1rem;

    svg {
      fill: $navyblue;
    }
  }
 
  @media (max-width: $breakpoint-sm) {
    &.sidenavtoc{
      min-width: 0px;
      border-right: 0px solid $babyblue;
      width: calc(100vw - 28px);
    }
    &__collapsed {
      width: 0rem !important ;
      overflow: hidden;
      padding: 0px;


      nav {
        visibility: hidden;
      }
    }
  }
}
.navsidetogle{visibility: hidden;}

@media (max-width: $breakpoint-sm) {
.navsidetogle{
  // display:block;
  // visibility: visible;
  .sidenav__toggle__open {
    display: none;
  }
  .sidenav__toggle__close {
    display: block;
  }
  &.open{    
      .sidenav__toggle__open {
        display: block;
      }
      .sidenav__toggle__close {
        display: none;
      }
    
  }
}
}
.overflowhiddenX{
  overflow-x: hidden;
}