.sidenav {
  max-height: var(--body-height);
  overflow-y: auto;
  border-right: 1px solid $babyblue;
  padding-left: $container-padding;
  padding-right: $container-padding;
  position: relative;

  &__toggle {
    @media (min-width: $breakpoint-lg) {
      display: none;
    }

    position: sticky;
    top: 0.5rem;
    margin-left: auto;
    cursor: pointer;
    width: 1rem;
    height: 1rem;

    svg {
      fill: $navyblue;
    }
  }

  &__collapsed {
    width: 1rem;
    overflow: hidden;

    nav {
      visibility: hidden;
    }
  }
}