.toc {
  margin-top: $container-padding;
  padding-top: $container-padding;
  &__menu {
    padding-left: 0;
    list-style-type: none;
    margin: 0;
    > .toc__item > a {
      font-weight: 600;
      color: $text-color;
    }
  }

  &__submenu {
    padding-left: $container-padding;
    list-style-type: none;
    a {
      color: $link-color;
    }
    .toc__submenu a {
      color: $active-color;
    }
  }

  &__item {
    line-height: 2;
    &__active {
      font-weight: bolder;
    }
  }



}