/** 
 * COLOR PALLETE
**/

// Brand Primary Color
$white: rgb(255, 255, 255);
$cream: rgb(238, 233, 217);
$babyblue: rgb(152, 210, 220);
$navyblue: rgb(8, 43, 72);

// Brand Secondary Colors 
$softgold: rgb(244, 161, 85);
$sienna: rgb(230, 122, 81);
$crimson: rgb(106, 45, 31);
$mediumblue: rgb(34, 105, 140);
$green: rgb(0, 206, 125);
$gold: rgb(255, 164, 0);

// Additional colors
$black: rgb(38, 38, 38);
$lightgrey: rgb(245, 245, 245);
$blue: rgb(33, 133, 208);
$red: rgb(189, 11, 0);

// Variables
$primary-color: $navyblue;
$text-color: $black;
$link-color: $blue;
$active-color: $navyblue;
$accent-color: $babyblue;
$border-color: rgba($navyblue,0.2);
$panel-color: rgba($babyblue,0.3);

/** 
 * TYPOGRAPHY
**/

$system-font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
$primary-font-family: 'Helvetica', $system-font-family;
$mono-font-family: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;

/** 
 * MEASUREMENTS
**/

$font-xs: 10px;
$font-sm: 16px;
$font-md: 24px;
$font-lg: 32px;
$font-xl: 40px;

// Breakpoints and containers
$breakpoint-sm: 576px;
$breakpoint-md: 768px;
$breakpoint-lg: 992px;
$breakpoint-xl: 1200px;
$breakpoint-xxl: 1400px;
$container-padding: 14px;

// Height calculations
:root {
    @media (max-width: calc( $breakpoint-lg - 1px ) ) {
            --header-height: 110px;
            --footer-height: 0px;
            --body-height: calc(var(--viewport-height) - (var(--header-height) + var(--footer-height) + 2px));
    }
    @media (min-width: $breakpoint-lg) {
        --header-height: 110px;
        --footer-height: 0px;
        --body-height: calc( var(--viewport-height) - ( var(--header-height) + var(--footer-height) + 2px ) );
    }
}