---
layout: default
---
<div class="pagelayout pagelayout__largedocs">
  <div class="sidenav sidenav__open">
    <div class="sidenav__toggle">
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
        <path
          d="M438.6 150.6c12.5-12.5 12.5-32.8 0-45.3l-96-96c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3L338.7 96 32 96C14.3 96 0 110.3 0 128s14.3 32 32 32l306.7 0-41.4 41.4c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0l96-96zm-333.3 352c12.5 12.5 32.8 12.5 45.3 0s12.5-32.8 0-45.3L109.3 416 416 416c17.7 0 32-14.3 32-32s-14.3-32-32-32l-306.7 0 41.4-41.4c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0l-96 96c-12.5 12.5-12.5 32.8 0 45.3l96 96z" />
      </svg>
    </div>
    {% include toc.html menu=site.menus.api %}
  </div>
  <div class="pagelayout__largedocs__wrapper">
    <div class="pagelayout__largedocs__content">
    <article class="article" itemscope itemtype="http://schema.org/BlogPosting">
      <div class="article__container">
        <div class="article__container__inner">
          <header class="article__header">
            <h1 class="article__title" itemprop="name headline">{{ page.title | escape }}</h1>
            <p class="article__meta">
              <time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
                {% assign date_format = site.minima.date_format | default: '%-d %b %Y' %}
                Last updated: {{ page.date | date: date_format }}
              </time>
              {% if page.author %}
              by <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span itemprop="name">{{ page.author
                  }}</span></span>
              {% endif %}
            </p>
          </header>
          {% assign loop = page.sections %}
          {% include sections.html %}
          <div class="pagelayout__largedocs__hidden">
            {{ content }}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
