---
layout: default
---
<div class="pagelayout pagelayout__centerdocs">
  <div class="sidenav sidenavtoc">
    <!-- <div class="sidenav__toggle">
      {% include icons/horizontal-toggle.svg %}
    </div> -->
    {% include toc.html menu=site.menus.sdk %}
  </div>
  <div class="pagelayout__centerdocs__wrapper">
    <div class="pagelayout__centerdocs__content">
      {% include article.html %}
    </div>
    <div class="sidepanels">
      <a href="https://github.com/canvas-medical/canvas-plugins/issues/new"><img style="height: 20px; width: auto; padding-right: 5px;" src="{{ "/assets/images/font-awesome/fa-github.svg" }}">Questions? Create an issue.</a>
      <div class="sidepanels__sidepanel">
        {% include panel-guides.html %}
      </div>
      <div class="sidepanels__sidepanel">
        {% include panel-anchorlist.html %}
      </div>
    </div>
  </div>
</div>
